.navbar .navbar-brand {
    font-weight: bold;
}


[data-theme="light"].navbar {
    background-color: #e2e2e2;
}

[data-theme="dark"].navbar {
    background-color: #333;
}

[data-theme="dark"].navbar .navbar-brand,
[data-theme="dark"].navbar .nav-link {
    --bs-navbar-active-color: gradient(#fff, #fff);
    --bs-nav-link-color: #fff;
}
