.nav {
  font-weight: bold;
  width: 100%;
  height: 100%;
  transition: all 1s;
}

.sidebar-item {
  border-radius: 10px;
  border-style: none;
  border-width: 1px;
  background-color: #afafaf;
  margin: 7px;
}

[data-theme="light"].sidebar-item:hover {

  background-color: #333;
}

[data-theme="dark"].sidebar-item:hover {

  background-color: #afafaf;
}

[data-theme="light"].nav {
  background-color: #e2e2e2;
  --bs-nav-link-color: #000 !important;
  --bs-nav-brand-color: #000 !important;
  --bs-nav-link-hover-color: #363636 !important;
  --bs-nav-brand-hover-color: #000 !important;
}

[data-theme="dark"].nav {
  background-color: #333;
  --bs-nav-link-color: #fff !important;
  --bs-nav-brand-color: #fff !important;
  --bs-nav-link-hover-color: #d6d6d6 !important;
  --bs-nav-brand-hover-color: #fff !important;
}

#side {
  height: 100%;
}
#side .sidebar {
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  transition: width 0.3s ease-in-out;
}

/* display on top of site on small devices */
@media (max-width: 1250px) {
  #side .sidebar {
    position: fixed;
    width: 100%;
    top: 72px;
    bottom: 0;
    z-index: 100;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
  }
}


#side .sidebar.hidden {
  opacity: 0;
  pointer-events: none;
  display: none;
}

.inner-sidebar{
  margin-left: 1rem;
}

.arrow{
  transition: transform 0.3s ease;
  margin-left:auto;
  /* transform: scaleY(2); */
  /* display: inline-block; */
  float:right;
  transform-origin: center;
  width: auto;
}