.btn-primary {
    background-image: linear-gradient(120deg, rgba(0, 0, 0, 0) 0%, rgba(108, 122, 213, 1) 100%);
    border-radius: 50vw !important;
    box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.3);
    --bs-btn-bg: rgba(144, 68, 220, 1) !important;
    --bs-btn-border-color: rgba(144, 68, 220, 0) !important;
    --bs-btn-hover-border-color: rgba(144, 68, 220, 0) !important;
}
[data-theme="light"] .btn-primary {
    --bs-btn-hover-bg: rgb(66, 0, 132) !important;
}
[data-theme="dark"] .btn-primary {
    --bs-btn-hover-bg: rgb(192, 132, 251) !important;
}

.btn-secondary {
    background-image: linear-gradient(120deg, rgba(0, 0, 0, 0) 0%, rgba(153, 153, 153, 1) 100%);
    border-radius: 50vw !important;
    box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.3);
    --bs-btn-color: rgba(0, 0, 0, 1) !important;
    --bs-btn-bg: rgba(204, 204, 204, 1) !important;
    --bs-btn-border-color: rgba(144, 68, 220, 0) !important;
    --bs-btn-hover-bg: rgb(169, 126, 211) !important;
    --bs-btn-hover-border-color: rgba(144, 68, 220, 0) !important;
}