



/* set animation time for button */
.submit-button {
    transition: 0.5s;
    width: 100%;
    /* always center */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* if button disabled, set width to heigh */
.submit-button:disabled {
    /* width equal height */
    width: 200px;    
    height: 180px;
}

.selected.correct {
    background-color: green !important;
}

.selected.wrong {
    background-color: red !important;
}

@keyframes highlight {
    0% {
        background-color: inherit;
    }

    50% {
        background-color: yellow;
    }

    100% {
        background-color: inherit;
    }
}

.selected {
    animation-name: highlight;
    animation-duration: 1s;
    animation-iteration-count: 1;
}