/* set animation time for button */
.submit-button {
    transition: 0.5s;
    width: 100%;
    /* always center */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* if button disabled, set width to heigh */
.submit-button:disabled {
    /* width equal height */
    width: 200px;
    height: 180px;
}

.selected.correct {
    background-color: green !important;
}

.selected.wrong {
    background-color: red !important;
}

@keyframes highlight {
    0% {
        background-color: inherit;
    }

    50% {
        background-color: yellow;
    }

    100% {
        background-color: inherit;
    }
}

.selected {
    animation-name: highlight;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.custom-list-item {
    border: 0px solid;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 10px;
}

[data-theme="dark"] .custom-list-item {
    background-color: #333;
}

[data-theme="light"] .custom-list-item {
    background-color: #e2e2e2;
}

[data-theme="dark"] .custom-list-item:hover {
    background-color: #3d3d3d;
}

[data-theme="light"] .custom-list-item:hover {
    background-color: #c7c7c7;
}

.challenge-complete-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    border: 0px solid;
    border-radius: 7px;
    padding: 30px;
    margin-bottom: 10px;
    max-width: fit-content;
    width: auto;
    margin: 0 auto;

}

[data-theme="dark"] .challenge-complete-wrapper {
    background-color: #333;
}

[data-theme="light"] .challenge-complete-wrapper {
    background-color: #e2e2e2;
}

.modify-button {
    color: #7c7c7c;
    /* float:right; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    padding-left: 0.5rem;
}

.option-section {
    display: flex;
    align-items: center;
}

.modify-button:hover {

    color: #4b4b4b;

}

.buttons-next{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin-top: 1rem;
    /*space between buttons*/
    gap: 1rem;
}